<a href="https://colab.research.google.com/github/luisosmx/Python_exercises/blob/main/Cloud_storage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install google-cloud-storage
!pip install pandas google-cloud-storage

In [ ]:
from google.cloud import storage
import os
import pandas as pd

# Configura la variable de entorno para las credenciales
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/path/file.json'

# Crea un cliente de almacenamiento
storage_client = storage.Client()

# Nombre del bucket y objeto que deseas leer
bucket_name = 'bucketdata_storage'
object_name = '/content/inah_visitantes_zonas_general_anual_2023.csv'
destination = '/content/file.csv'
# Obtiene el objeto
bucket = storage_client.bucket(bucket_name)
blob = bucket.blob(object_name)
print(blob)
#Descarga el contenido del objeto como bytes
blob.download_to_filename(destination)

# Ahora puedes trabajar con los bytes como mejor te convenga


print("Archivo descargado como 'file.csv")
# making dataframe
df = pd.read_csv(destination, encoding='latin-1')

# output the dataframe
print(df.head(10))

<Blob: bucketdata_storage, /content/inah_visitantes_zonas_general_anual_2023.csv, None>
Archivo descargado como 'file.csv
                Estado  Clave SIINAH  Tipo  \
0                  NaN           NaN   NaN
1      Baja California     3120040.0  Z.A.
2  Baja California Sur     3120007.0  Z.A.
3             Campeche     3120005.0  Z.A.
4             Campeche     3110002.0  Z.A.
5             Campeche     3120008.0  Z.A.
6             Campeche     3120017.0  Z.A.
7             Campeche     3120020.0  Z.A.
8             Campeche     3110011.0  Z.A.
9             Campeche     3110012.0  Z.A.

                          Centro INAH  enero Unnamed: 5 febrero Unnamed: 7  \
0                                 NaN   NAC.       EXT.    NAC.       EXT.
1                Z.A. de El Vallecito    610          6   1,143         16
2  Z.A. de San Francisco de la Sierra    128         19       0          0
3                     Z.A. de Balamkú    336        310     252        393
4                       Z.A. de Becán    963      1,017     687      1,169
5                    Z.A. de Calakmul  1,943      3,050   1,243      3,096
6                    Z.A. de Chicanná    279        400     433        542
7                   Z.A. de Chunhuhub     66          2      54          1
8                 Z.A. de Dzibilnocac    542          8     297          9
9                       Z.A. de Edzná  3,330        920   2,749        982

   marzo Unnamed: 9  abril Unnamed: 11   mayo Unnamed: 13  junio Unnamed: 15  \
0   NAC.       EXT.   NAC.        EXT.   NAC.        EXT.   NAC.        EXT.
1    815          9  1,627           6  1,236           4  1,215           0
2    316        282    162           0    225          61      0           0
3    234        235    484         165    332         155    254          76
4    594      1,039  1,150         632    540         422    539         259
5  1,257      2,743  2,614       2,116    886       1,390    691         808
6    291        687    426         339    196         241    164         153
7     71          9     77           7     49           3     82           0
8    223         14    433           4    555           1    135           3
9  2,548        961  4,437         726  1,921         357  1,916         257

   julio Unnamed: 17
0   NAC.        EXT.
1    533           4
2    264          20
3    605         235
4    978         783
5  1,438       2,525
6    422         327
7     70           1
8    304           4
9  3,659         621

In [ ]:
column_names = df.columns.tolist()

print(column_names)

['Estado', 'Clave SIINAH', 'Tipo', 'Centro INAH', 'enero', 'Unnamed: 5', 'febrero', 'Unnamed: 7', 'marzo', 'Unnamed: 9', 'abril', 'Unnamed: 11', 'mayo', 'Unnamed: 13', 'junio', 'Unnamed: 15', 'julio', 'Unnamed: 17']

In [ ]:
# Lista de nombres de todas las columnas
all_column_names = ['Estado', 'Clave SIINAH', 'Tipo', 'Centro INAH', 'enero', 'Unnamed: 5', 'febrero', 'Unnamed: 7', 'marzo', 'Unnamed: 9', 'abril', 'Unnamed: 11', 'mayo', 'Unnamed: 13', 'junio', 'Unnamed: 15', 'julio', 'Unnamed: 17']

# Nombres de las columnas que deseas mantener
filter_column = ['estado', 'tipo', 'centro_inah', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']

# Filtra los nombres de las columnas que coinciden con los que deseas mantener
filtered_column_names = [col for col in all_column_names if col in filter_column]

filtered_df = df.loc[:, filtered_column_names]
new_column_names = ['estado', 'tipo', 'centro_inah', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
df.columns = new_column_names
#df = filtered_df.drop(1)
# Imprimir el DataFrame filtrado
print(df)

                  estado  tipo  \
0                    NaN   NaN
2    Baja California Sur  Z.A.
3               Campeche  Z.A.
4               Campeche  Z.A.
5               Campeche  Z.A.
..                   ...   ...
173              Yucatán  Z.A.
174            Zacatecas  Z.A.
175            Zacatecas  Z.A.
176            Zacatecas  Z.A.
177            Zacatecas  Z.A.

                                           centro_inah  enero febrero  marzo  \
0                                                  NaN   NAC.    NAC.   NAC.
2                   Z.A. de San Francisco de la Sierra    128       0    316
3                                      Z.A. de Balamkú    336     252    234
4                                        Z.A. de Becán    963     687    594
5                                     Z.A. de Calakmul  1,943   1,243  1,257
..                                                 ...    ...     ...    ...
173                                     Z.A. de Xcambó  1,406   1,145  1,188
174  Z.A. de Altavista o Chalchihuites con museo de...    240     236  1,227
175              Z.A. de La Quemada con museo de sitio    882     855  2,877
176                                Z.A. Cerro del Teúl    402     229    512
177                         Z.A. Cerro de las Ventanas    329     223    750

     abril   mayo junio  julio
0     NAC.   NAC.  NAC.   NAC.
2      162    225     0    264
3      484    332   254    605
4    1,150    540   539    978
5    2,614    886   691  1,438
..     ...    ...   ...    ...
173    619  1,059   876  1,186
174    705    438   415    567
175  1,495    797   771  2,127
176  1,277    310   188    555
177    877    357   322    646

[177 rows x 10 columns]

In [ ]:
df_types = df.dtypes
print(df_types)

estado         object
tipo           object
centro_inah    object
enero          object
febrero        object
marzo          object
abril          object
mayo           object
junio          object
julio          object
dtype: object

In [ ]:
dframe = df_types.astype(str)
print(dframe)

estado         object
tipo           object
centro_inah    object
enero          object
febrero        object
marzo          object
abril          object
mayo           object
junio          object
julio          object
dtype: object

In [ ]:
from google.cloud import bigquery
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/path/file.json'

client = bigquery.Client()
table_id = "data-project-395314.data_project.inah_visitantes"

job_config = bigquery.LoadJobConfig(
    # Specify a (partial) schema. All columns are always written to the
    # table. The schema is used to assist in data type definitions.
    schema=[
        bigquery.SchemaField("estado", "STRING"),
        bigquery.SchemaField("tipo", "STRING"),
        bigquery.SchemaField("centro_inah", "STRING"),
        bigquery.SchemaField("enero", "STRING"),
        bigquery.SchemaField("febrero", "STRING"),
        bigquery.SchemaField("marzo", "STRING"),
        bigquery.SchemaField("abril", "STRING"),
        bigquery.SchemaField("mayo", "STRING"),
        bigquery.SchemaField("junio", "STRING"),
        bigquery.SchemaField("julio", "STRING"),
    ],
    # Optionally, set the write disposition. BigQuery appends loaded rows
    # to an existing table by default, but with WRITE_TRUNCATE write
    # disposition it replaces the table with the loaded data.
    write_disposition="WRITE_TRUNCATE",
)

job = client.load_table_from_dataframe(
    df, table_id, job_config=job_config
)  # Make an API request.
job.result()  # Wait for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
    "Loaded {} rows and {} columns to {}".format(
        table.num_rows, len(table.schema), table_id
    )
)

Loaded 177 rows and 10 columns to data-project-395314.data_project.inah_visitantes